.App {
  font-family: sans-serif;
  text-align: center;
}
:root {
  --primary-color: #9d174d;
  --secondary-color: #1f2937;
  --div-color: #f9a8d4;
}
.background {
  min-height: 100vh;
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-position: center;
}
#alertWindow {
  border: 1px solid red;
  background-color: #374151;
  max-width: 30%;
  padding: 0.5rem;
  margin: auto;
  color: red;
}
#birthdate-input {
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
#lucky {
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
button {
  background-color: var(--primary-color);
  margin: 1rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  font-weight: bold;
}
.output {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
}
footer {
  background-color: var(--primary-color);
}
